.detail-title {
  display: flex;
  align-items: center;
  color: #007bff;
}

.detail-title mat-icon {
  margin-right: 5px;
}

.booking-details {
  margin-top: 10px;
}

.bookings {
  padding: 20px;
}

.title {
  color: #6c757d;
}
